<app-tarjeta titulo="Ciclo Formativo DAM">

  <app-usuarios [tableData]="usuarios" [title]="tituloDAM"></app-usuarios>

  <app-boton label="Agregar Usuario" (click)="agregarUsuario('DAM')"></app-boton>

  <br>

  <app-alerta tipo="success" mensaje="Operación completada con éxito!"></app-alerta>

</app-tarjeta>

<app-tarjeta titulo="Ciclo Formativo DAW">

  <app-usuarios [tableData]="usuarios" [title]="tituloDAR"></app-usuarios>

  <app-boton label="Agregar Usuario" (click)="agregarUsuario('DAW')"></app-boton>

  <br>

  <app-alerta tipo="error" mensaje="Error: No se pudo completar la operación."></app-alerta>

</app-tarjeta>
